body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

#login-section, #unauthorized-section {
    display: block;
    text-align: center;
    margin-top: 100px;
}
#app-content { display: none; max-width: 600px; margin: auto; }

body.logged-in #login-section, body.logged-in #unauthorized-section { display: none; }
body.logged-in #app-content { display: block; }

h1, h2 { color: #555; }
header { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ddd; padding-bottom: 10px; flex-wrap: wrap;}
#list-title { font-size: 1.5em; margin: 0; }
#user-info { font-size: 0.9em; text-align: right; }

.controls-container { margin: 20px 0; }
#complete-list-button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}
#complete-list-button:hover { background-color: #218838; }


.add-item-container { display: flex; margin-bottom: 20px; }
#item-input { flex-grow: 1; padding: 10px; border: 1px solid #ccc; border-radius: 4px 0 0 4px; font-size: 1em;}
#add-button { padding: 10px 15px; border: none; background-color: #007bff; color: white; border-radius: 0 4px 4px 0; cursor: pointer; font-size: 1.2em;}
#add-button:hover { background-color: #0056b3; }

ul { list-style-type: none; padding: 0; }
li { display: flex; align-items: center; background: white; padding: 12px; border-radius: 4px; margin-bottom: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
li input[type="checkbox"] { margin-right: 15px; width: 20px; height: 20px; }
li label { flex-grow: 1; }
#completed-list-ul li label { text-decoration: line-through; color: #888; }

hr { border: 0; border-top: 1px solid #ddd; margin: 30px 0; }

#past-lists-ul li {
    background-color: #e9ecef;
    padding: 15px;
    font-weight: bold;
}